.login-container {
  padding: 0 !important;
  margin: 0 !important;
  background: #ffffff;
  // box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
  height: 100vh;
  overflow: hidden;
}
.login-header {
  background-color: #222d68;
}

.login-btn {
  background: #222d68;
  color: #fff;
  font-weight: 700;
}
@font-face {
  font-family: "northwell";
  src: url(../../img/login-font/NorthWell.woff) format(woff);
}
.display-1 {
  font-family: "northwell";
  margin-bottom: 0;
  // font-size: 8rem;
}
