::placeholder {
  color: #838383;
}

/* 1. Theme default css */

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
body {
  font-family: $font_2;
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_1;
  color: $heading-color;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}
p {
  font-family: $font_2;
  color: $font_color1;

  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}

.img {
  max-width: 100%;
  @include transition(0.3s);
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.fix {
  overflow: hidden;
}
.clear {
  clear: both;
}

a,
.button {
  @include transition(0.3s);
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a {
  color: rgb(99, 92, 92);
}
a:hover {
  color: #fff;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}
a,
button {
  // color: #fff;
  outline: medium none;
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}
.uppercase {
  text-transform: uppercase;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.capitalize {
  text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  // margin: 0px;
  // padding: 0px;
}
li {
  list-style: none;
}

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}
