.downloadPDF {
  border-radius: 5px;
  border-top: 3px solid #fff;
  cursor: pointer;
  text-decoration: none !important;
  color: #fff !important;
}
.view {
  --primary-color: var(--primary-color-1);
  background-color: var(--primary-color-1);
  cursor: pointer;
  color: #fff;
  text-decoration: none !important;
}
.view.theme-2 {
  --primary-color: var(--primary-color-2);
  background-color: var(--primary-color-2);
}
.view.theme-3 {
  --primary-color: var(--primary-color-3);
  background-color: var(--primary-color-3);
}
