.downloadPDF {
  border-radius: 5px;
  border-top: 3px solid #fff;
  cursor: pointer;
  text-decoration: none !important;
}
.downloadPDF p,
.view p {
  color: #fff !important;
}
.view {
  border-radius: 5px;
  --primary-color: var(--primary-color-1);
  background-color: var(--primary-color-1);
  cursor: pointer;
  color: #fff !important;
  /* text-decoration: none !important; */
}
.view.theme-2 {
  --primary-color: var(--primary-color-2);
  background-color: var(--primary-color-2);
  font-family: "gotham" !important;
}
.view.theme-3 {
  --primary-color: var(--primary-color-3);
  background-color: var(--primary-color-3);
}
.view a {
  color: #fff;
}
.title-background {
  background-color: #ededf0;
  border-radius: 5px;
}
