.navbar-zindex {
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .dropdown-nav {
    position: absolute;
    background-color: #0f4b8f;
    left: 0;
    top: 56px;
    right: 0;
  }
}
.dropdown-toggle:hover {
  background-color: inherit !important;
  scale: 1.1;
}
// .nav-link.active {
//   color: #fff;
// }
.nav-link {
  font-family: "GarageFonts";
}
.nav-link.theme-2 {
  font-family: Helvetica;
}
.nav-link.theme-3 {
  font-family: "Times New Roman";
}

.soonCont .btn-secondary {
  background-color: #0f4b8f;
  border: none;
}

.soonCont .btn-secondary:focus {
  box-shadow: none;
  border-color: #003c9f;
}
.soon {
  font-size: 1.2rem;
  color: #fff !important;
  padding: 0;
}
.tooltip-trigger {
  background-color: transparent !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.dropdown-hover,
.dropdown-sub-hover,
.dropdown-sub-hub-hover {
  // opacity: 0;
  visibility: hidden;
  display: flex;
  padding: 0.2rem;
  font-family: Arial;
  flex-direction: column;
  background-color: #fff;
  color: black !important;
}

.dropdown-sub-hover {
  right: -5.8rem;
  top: 0rem;
}
.dropdown-sub-hub-hover {
  right: 11.6rem;
  top: -0.3rem;
}
.sub-drop:hover .dropdown-sub-hub-hover,
.sub-drop:hover .dropdown-sub-hover {
  // opacity: 1;
  visibility: visible;
}
.dropdown-hover li {
  margin: 0.2rem 0rem;
  font-size: 1rem;
  cursor: pointer;
}
.dropdown-hover li a {
  padding: 0.2rem;
}
.dropdown-hover li:hover,
.dropdown-hover li a:hover {
  background-color: gray;
  // padding: 0.2rem;

  color: #fff;
}
.dropdown-parent:hover .dropdown-hover {
  visibility: visible;
  // opacity: 1;
}
