h2 {
  --primary-color: var(--primary-color-1);
  color: var(--primary-color-1);
  font-family: "GarageFonts";
}
h2.theme-2 {
  --primary-color: var(--primary-color-2);
  color: var(--primary-color-2);
  font-family: "gotham" !important;
}
h2.theme-3 {
  --primary-color: var(--primary-color-3);
  color: var(--primary-color-3);
}
h5 {
  background-color: #eeeff5;
  color: #0f4c8e !important;
  --primary-color: var(--primary-color-1) !important;
  color: var(--primary-color-1) !important;
  padding: 10px;
  font-weight: bold;
}
h5.theme-2 {
  --primary-color: var(--primary-color-2) !important;
  color: var(--primary-color-2) !important;
  font-family: "gotham" !important;
}
h5.theme-3 {
  --primary-color: var(--primary-color-3) !important;
  color: var(--primary-color-3) !important;
}
.accordion-button::after {
  display: inline-block;
  position: absolute;
  right: 0rem;
  top: 30%;
  /* padding: 1rem 1.7rem; */
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button {
  --primary-color: var(--primary-color-1);
  background-color: var(--primary-color-1);
  color: #fff;
  padding: 1rem 1.7rem 1rem 0.4rem;
}
.accordion-button.theme-2 {
  --primary-color: var(--primary-color-2);
  background-color: var(--primary-color-2);
  font-family: Helvetica !important;
}
.accordion-button.theme-3 {
  --primary-color: var(--primary-color-3);
  background-color: var(--primary-color-3);
}
.attendance {
  background-color: #0f4c8e;
  color: #fff;
  padding: 20px;
}
.attendance h4 {
  color: #fff;
  margin-bottom: 0;
  font-size: 1.25rem;
}
.accordion-item {
  background-color: #eeeff5;
}
.accordion-button:focus {
  box-shadow: none;
}
